*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* Creazione header */
.header{
    height: 320px;
    background-color: cadetblue;
    z-index: 1;
}

.header div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#menu-container{
    background-color: #1f4967;
    width: 80%;
    height: 20%;
    margin-left: 12%;
    margin-top: 25px;
    position: fixed;
    border-radius: 50px;
}

.logo{
    height: 317px;
}

#menu li{
    display: inline;
/*     background-color: red; */
    margin: 1rem;    
}

li a{
    text-decoration: none;
    color: #f9b226;
}
a:hover{
    color: white;
}

.btn{
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
    margin-right: 80px;
    color: black;
    background-color:#f9b226;
    border: 0px solid black;
    text-decoration: none;
}
/* creazione body */
body{background-color:cadetblue ;}

/* hero section */
.hero{
    display: flex;
    padding: 5% 10%;
    justify-content: center;
    background-color: cadetblue;
}

.hero-testo{
    width: 100%;
    padding-left: 100px;
}

.hero_img{
    width: 53%;
    margin-left: 250px;
}

.btn-products{
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color:#f9b226;
    border: 0px solid black;
    text-decoration: none;
}

@media  (max-width: 760px) {
    .hero{flex-wrap:wrap;}
    .hero-testo,
    .hero_img{width:50%;margin-top: 50px;}
}

/* card */
.img-scarpe{
    height: 370px;
}

.card{
    display: block;
    width: 100%;
    position: relative;
    z-index: -1;
}

.card-testo{
    position: absolute;
    bottom: 10px;
    background-color: #f9b226;
    padding: 10px;
    color: #ffff;
}

/* utilities */
.img-res{height: auto; width: 100%;}

.pt-1{padding-top: 10px;}
.pt-2{padding-top: 30px;}
.pt-3{padding-top: 60px;}

.pb-1{padding-bottom: 10px;}
.pb-2{padding-bottom: 30px;}
.pb-3{padding-bottom: 60px;}

.grid{
    display: flex;
    padding: 0 10%;
    flex-wrap: wrap;
}

.grid-2{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 17%;
}

.col-25{width: 25%;}
.col-50{width: 50%;padding: 10% 20%;}
.col-40{width: 40%;padding: 10% 20%;}
.col-60{width: 60%;padding: 10% 20%;}
.col-33{width: 33.33%;padding: 10%;}
.col-100{width: 100%;}

@media (max-width:768px){
    .col-50,
    .col-40,
    .col-60,
    .col-33,
    .col-25,
    .col-100{width: 100%;}
}