*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* Creazione header */
.header div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#menu-container{
    background-color: #1f4967;
    width: 50%;
    height: 25%;
    margin-left: 25%;
    margin-top: 50px;
    position: fixed;
    border-radius: 50px;
}

.logo{
    height: 310px;
}

#menu li{
    display: inline;
/*     background-color: red; */
    margin: 1rem;    
}

li a{
    text-decoration: none;
    color: #f9b226;
}
a:hover{
    color: white;
}

#btn-contatti{
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
    margin-right: 80px;
    color: black;
    background-color:#f9b226;
    border: 0px solid black;
}

/* creazione body */